In [1]:
%pip install "dask[complete]"
%pip install dask_ml

Requirement already satisfied: dask[complete] in c:\users\daarr\anaconda3\lib\site-packages (2023.6.0)
Requirement already satisfied: click>=8.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (8.0.4)
Requirement already satisfied: cloudpickle>=1.5.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (2.2.1)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (2023.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (23.0)
Requirement already satisfied: partd>=1.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (1.2.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (6.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (6.0.0)
Requirement already satisfied: pyarrow>=7.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (11.0.0)
Requirement already satisfied: lz4>=4.3.2 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (4.3.2)
Requirement already satisfied: colorama in c:\users\daarr\anaconda3\lib\site-packages (from click>=8.0->dask[complete]) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\daarr\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask[complete]) (3.11.0)
Requirement already satisfied: locket in c:\users\daarr\anaconda3\lib\site-packages (from partd>=1.2.0->dask[complete]) (1.0.0)
Requirement already satisfied: numpy>=1.16.6 in c:\users\daarr\anaconda3\lib\site-packages (from pyarrow>=7.0->dask[complete]) (1.24.3)
Requirement already satisfied: pandas>=1.3 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (1.5.3)
Requirement already satisfied: bokeh>=2.4.2 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (3.2.1)
Requirement already satisfied: jinja2>=2.10.3 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (3.1.2)
Requirement already satisfied: distributed==2023.6.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[complete]) (2023.6.0)
Requirement already satisfied: msgpack>=1.0.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.0.3)
Requirement already satisfied: psutil>=5.7.2 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.7.0)
Requirement already satisfied: tornado>=6.0.4 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (1.26.16)
Requirement already satisfied: zict>=2.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed==2023.6.0->dask[complete]) (2.2.0)
Requirement already satisfied: contourpy>=1 in c:\users\daarr\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (1.0.5)
Requirement already satisfied: pillow>=7.1.0 in c:\users\daarr\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (9.4.0)
Requirement already satisfied: xyzservices>=2021.09.1 in c:\users\daarr\anaconda3\lib\site-packages (from bokeh>=2.4.2->dask[complete]) (2022.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\daarr\anaconda3\lib\site-packages (from jinja2>=2.10.3->dask[complete]) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\daarr\anaconda3\lib\site-packages (from pandas>=1.3->dask[complete]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\daarr\anaconda3\lib\site-packages (from pandas>=1.3->dask[complete]) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\daarr\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.3->dask[complete]) (1.16.0)
Requirement already satisfied: heapdict in c:\users\daarr\anaconda3\lib\site-packages (from zict>=2.2.0->distributed==2023.6.0->dask[complete]) (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: dask_ml in c:\users\daarr\anaconda3\lib\site-packages (2023.3.24)
Requirement already satisfied: dask[array,dataframe]>=2.4.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (2023.6.0)
Requirement already satisfied: distributed>=2.4.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (2023.6.0)
Requirement already satisfied: numba>=0.51.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (0.57.0)
Requirement already satisfied: numpy>=1.20.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (1.5.3)
Requirement already satisfied: scikit-learn>=1.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (1.3.0)
Requirement already satisfied: scipy in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (1.10.1)
Requirement already satisfied: dask-glm>=0.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (0.3.0)
Requirement already satisfied: multipledispatch>=0.4.9 in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (0.6.0)
Requirement already satisfied: packaging in c:\users\daarr\anaconda3\lib\site-packages (from dask_ml) (23.0)
Requirement already satisfied: cloudpickle>=0.2.2 in c:\users\daarr\anaconda3\lib\site-packages (from dask-glm>=0.2.0->dask_ml) (2.2.1)
Requirement already satisfied: sparse>=0.7.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask-glm>=0.2.0->dask_ml) (0.14.0)
Requirement already satisfied: click>=8.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (8.0.4)
Requirement already satisfied: fsspec>=2021.09.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (2023.3.0)
Requirement already satisfied: partd>=1.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (1.2.0)
Requirement already satisfied: pyyaml>=5.3.1 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (6.0)
Requirement already satisfied: toolz>=0.10.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (0.12.0)
Requirement already satisfied: importlib-metadata>=4.13.0 in c:\users\daarr\anaconda3\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (6.0.0)
Requirement already satisfied: jinja2>=2.10.3 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (3.1.2)
Requirement already satisfied: locket>=1.0.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.0.0)
Requirement already satisfied: msgpack>=1.0.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.0.3)
Requirement already satisfied: psutil>=5.7.2 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (5.9.0)
Requirement already satisfied: sortedcontainers>=2.0.5 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.4.0)
Requirement already satisfied: tblib>=1.6.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.7.0)
Requirement already satisfied: tornado>=6.0.4 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (6.3.2)
Requirement already satisfied: urllib3>=1.24.3 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.26.16)
Requirement already satisfied: zict>=2.2.0 in c:\users\daarr\anaconda3\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.2.0)
Requirement already satisfied: six in c:\users\daarr\anaconda3\lib\site-packages (from multipledispatch>=0.4.9->dask_ml) (1.16.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\daarr\anaconda3\lib\site-packages (from numba>=0.51.0->dask_ml) (0.40.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\daarr\anaconda3\lib\site-packages (from pandas>=0.24.2->dask_ml) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\daarr\anaconda3\lib\site-packages (from pandas>=0.24.2->dask_ml) (2022.7)
Requirement already satisfied: joblib>=1.1.1 in c:\users\daarr\anaconda3\lib\site-packages (from scikit-learn>=1.2.0->dask_ml) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\daarr\anaconda3\lib\site-packages (from scikit-learn>=1.2.0->dask_ml) (2.2.0)
Requirement already satisfied: colorama in c:\users\daarr\anaconda3\lib\site-packages (from click>=8.0->dask[array,dataframe]>=2.4.0->dask_ml) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\daarr\anaconda3\lib\site-packages (from importlib-metadata>=4.13.0->dask[array,dataframe]>=2.4.0->dask_ml) (3.11.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\daarr\anaconda3\lib\site-packages (from jinja2>=2.10.3->distributed>=2.4.0->dask_ml) (2.1.1)
Requirement already satisfied: heapdict in c:\users\daarr\anaconda3\lib\site-packages (from zict>=2.2.0->distributed>=2.4.0->dask_ml) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import time
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd
import warnings
warnings.filterwarnings('ignore')

In [4]:
fl_dask = dd.read_csv("../flights/flights.csv",dtype={"arr_mins_of_delay": "object", "dep_mins_of_delay": "object"})
mt_dask = dd.read_csv("../metar/metars.csv")
mad_dask = dd.read_csv("../eurocontrol_MAD_data/MAD_data.csv")

In [5]:
fl_dask.head()

,flight_id,departure_date_time,cod_flight_IATA,cod_flight_ICAO,day,week_day,status,airliner,cod_airliner_IATA,cod_airliner_ICAO,...,dep_situation,dep_mins_of_delay,city,cod_airport_IATA,cod_airport_ICAO,arrival,arr_situation,arr_mins_of_delay,duration,resta
0,1,2023-10-31 23:59:00,IB6841,IBE6841,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,...,late,33,Buenos Aires,EZE,SAEZ,08:29 UTC-03,on time,0,12h,33
1,2,2023-10-31 23:59:00,IB6011,IBE6011,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,...,late,25,Montevideo,MVD,SUMU,08:48 UTC-03,early,-6,12h,31
2,3,2023-10-31 23:59:00,IB6833,IBE6833,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,...,late,35,Santiago,SCL,SCEL,09:13 UTC-03,early,-6,13h,41
3,4,2023-10-31 23:55:00,IB6827,IBE6827,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,...,late,32,Sao Paulo,GRU,SBGR,06:49 UTC-03,early,-15,10h,47
4,5,2023-10-31 23:55:00,IB6589,IBE6589,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,...,late,24,Bogota,BOG,SKBO,03:52 UTC-05,early,-27,10h,51

In [6]:
mt_dask.head()

,Metar_id,Date_time,Day,Hour,Condition,Temperature,Wind,Gusts,Relative_hum,Pressure
0,1,2023-10-31 23:30:00,2023-10-31,23:30,Fair,8,3,0,93,1017
1,2,2023-10-31 23:00:00,2023-10-31,23:00,Fair,8,1,0,87,1017
2,3,2023-10-31 22:30:00,2023-10-31,22:30,Fair,8,0,0,93,1017
3,4,2023-10-31 22:00:00,2023-10-31,22:00,Clear,8,0,0,93,1017
4,5,2023-10-31 21:30:00,2023-10-31,21:30,Clear,8,0,0,93,1017

In [7]:
fl_dask = fl_dask.rename(columns={'departure_date_time': 'Date_time'})

In [8]:
mt_dask['Date_time'] = dd.to_datetime(mt_dask['Date_time'])
fl_dask['Date_time'] = dd.to_datetime(fl_dask['Date_time'])

In [9]:
fl_dask = fl_dask.sort_values('Date_time')
mt_dask = mt_dask.sort_values('Date_time')

In [10]:
%%time
fl_dask = fl_dask.sort_values('Date_time')
mtr_dask = mt_dask.sort_values('Date_time')

# Realiza el merge asof para encontrar el parte meteorológico más cercano en el tiempo
fl_dask = dd.merge_asof(fl_dask, mt_dask, on='Date_time', direction='backward')

CPU times: total: 578 ms
Wall time: 820 ms

In [11]:
pd.set_option('display.max_columns', None)

In [12]:
fl_dask.head()

,Date_time,flight_id,cod_flight_IATA,cod_flight_ICAO,day,week_day,status,airliner,cod_airliner_IATA,cod_airliner_ICAO,Scheduled_dep,depart_time,dep_situation,dep_mins_of_delay,city,cod_airport_IATA,cod_airport_ICAO,arrival,arr_situation,arr_mins_of_delay,duration,resta,Metar_id,Day,Hour,Condition,Temperature,Wind,Gusts,Relative_hum,Pressure
0,2022-11-01 00:25:00,176596,AV47,AVA047,2022-11-01,Tuesday,Landed,Avianca,AV,AVA,00:25,00:38,late,13,Bogota,BOG,SKBO,04:14 UTC-05,early,-35,-,48,17722,2022-11-01,00:00,Mostly Cloudy,14,2,0,94,1022
1,2022-11-01 01:45:00,176595,UX39,AEA039,2022-11-01,Tuesday,Landed,Air Europa,UX,AEA,01:45,02:02,late,17,Quito,UIO,SEQM,06:36 UTC-05,late,11,11h,6,17719,2022-11-01,01:30,Mostly Cloudy,14,2,0,94,1023
2,2022-11-01 06:00:00,176594,KL1698,KLM22A,2022-11-01,Tuesday,Landed,KLM Royal Dutch Airlines,KL,KLM,06:00,06:08,late,8,Amsterdam,AMS,EHAM,08:11 CET,early,-28,2h,36,17710,2022-11-01,06:00,Mostly Cloudy,14,1,0,94,1023
3,2022-11-01 06:10:00,176593,FR2084,RYR69HY,2022-11-01,Tuesday,Landed,Ryanair,FR,RYR,06:10,06:34,late,24,Ibiza,IBZ,LEIB,07:38 CET,late,8,1h,16,17710,2022-11-01,06:00,Mostly Cloudy,14,1,0,94,1023
4,2022-11-01 06:10:00,176592,FR5997,RYR93XH,2022-11-01,Tuesday,Landed,Ryanair,FR,RYR,06:10,06:32,late,22,London,STN,EGSS,07:31 GMT,early,-8,2h,30,17710,2022-11-01,06:00,Mostly Cloudy,14,1,0,94,1023

In [13]:
fl_dask = fl_dask.sort_values('Date_time', ascending=False)
fl_dask.head()

,Date_time,flight_id,cod_flight_IATA,cod_flight_ICAO,day,week_day,status,airliner,cod_airliner_IATA,cod_airliner_ICAO,Scheduled_dep,depart_time,dep_situation,dep_mins_of_delay,city,cod_airport_IATA,cod_airport_ICAO,arrival,arr_situation,arr_mins_of_delay,duration,resta,Metar_id,Day,Hour,Condition,Temperature,Wind,Gusts,Relative_hum,Pressure
176595,2023-10-31 23:59:00,1,IB6841,IBE6841,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:32,late,33,Buenos Aires,EZE,SAEZ,08:29 UTC-03,on time,0,12h,33,1,2023-10-31,23:30,Fair,8,3,0,93,1017
176594,2023-10-31 23:59:00,3,IB6833,IBE6833,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:34,late,35,Santiago,SCL,SCEL,09:13 UTC-03,early,-6,13h,41,1,2023-10-31,23:30,Fair,8,3,0,93,1017
176593,2023-10-31 23:59:00,2,IB6011,IBE6011,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:24,late,25,Montevideo,MVD,SUMU,08:48 UTC-03,early,-6,12h,31,1,2023-10-31,23:30,Fair,8,3,0,93,1017
176592,2023-10-31 23:55:00,4,IB6827,IBE6827,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:55,00:27,late,32,Sao Paulo,GRU,SBGR,06:49 UTC-03,early,-15,10h,47,1,2023-10-31,23:30,Fair,8,3,0,93,1017
176591,2023-10-31 23:55:00,7,UX41,AEA041,2023-10-31,Tuesday,Landed,Air Europa,UX,AEA,23:55,00:11,late,16,Buenos Aires,EZE,SAEZ,08:14 UTC-03,early,-35,12h,51,1,2023-10-31,23:30,Fair,8,3,0,93,1017

In [14]:
fl_dask = fl_dask.rename(columns={'day': 'Date'})

In [15]:
fl_dask['Date'] = dd.to_datetime(fl_dask['Date'])
mad_dask['Date'] = dd.to_datetime(mad_dask['Date'])

# Ordenar ambos DataFrames por la columna de fecha
fl_dask = fl_dask.sort_values('Date')
mad_dask = mad_dask.sort_values('Date')

# Realizar el merge asof para encontrar el registro de tráfico más cercano en el tiempo
fl_dask = dd.merge_asof(fl_dask, mad_dask, on='Date', direction='backward')

In [16]:
reorder = ['Date_time','flight_id','Metar_id','mad_id', 'cod_flight_IATA', 'cod_flight_ICAO', 'Date',
       'week_day', 'status', 'airliner', 'cod_airliner_IATA',
       'cod_airliner_ICAO', 'Scheduled_dep', 'depart_time', 'dep_situation',
       'dep_mins_of_delay', 'city', 'cod_airport_IATA', 'cod_airport_ICAO',
       'arrival', 'arr_situation', 'arr_mins_of_delay', 'duration', 'resta']
fl_dask = fl_dask[reorder]

In [17]:
fl_dask.head()

,Date_time,flight_id,Metar_id,mad_id,cod_flight_IATA,cod_flight_ICAO,Date,week_day,status,airliner,cod_airliner_IATA,cod_airliner_ICAO,Scheduled_dep,depart_time,dep_situation,dep_mins_of_delay,city,cod_airport_IATA,cod_airport_ICAO,arrival,arr_situation,arr_mins_of_delay,duration,resta
0,2022-11-01 00:25:00,176596,17722,365,AV47,AVA047,2022-11-01,Tuesday,Landed,Avianca,AV,AVA,00:25,00:38,late,13,Bogota,BOG,SKBO,04:14 UTC-05,early,-35,-,48
1,2022-11-01 16:20:00,176285,17690,365,IB8700,ANE88YB,2022-11-01,Tuesday,Landed,Iberia,IB,IBE,16:20,16:48,late,28,Bordeaux,BOD,LFBD,17:41 CET,early,-3,1h,31
2,2022-11-01 16:20:00,176286,17690,365,AF1601,AFR75YB,2022-11-01,Tuesday,Landed,Air France,AF,AFR,16:20,16:39,late,19,Paris,CDG,LFPG,18:13 CET,early,-16,2h,35
3,2022-11-01 16:15:00,176291,17690,365,IB3244,IBE32LV,2022-11-01,Tuesday,Landed,Iberia,IB,IBE,16:15,16:42,late,27,Venice,VCE,LIPZ,18:33 CET,early,-11,2h,38
4,2022-11-01 16:15:00,176292,17690,365,UX89,AEA089,2022-11-01,Tuesday,Landed,Air Europa,UX,AEA,16:15,16:41,late,26,Santo Domingo,SDQ,MDSD,20:07 AST,late,2,8h,24

In [18]:
fl_dask = fl_dask.sort_values('Date_time', ascending=False).reset_index(drop = True)

In [19]:
fl_dask = fl_dask.rename(columns ={"Date_time": "departure_date_time","Metar_id": "metar_id", "Date": "day"})

In [23]:
fl_dask.head()

,departure_date_time,flight_id,metar_id,mad_id,cod_flight_IATA,cod_flight_ICAO,day,week_day,status,airliner,cod_airliner_IATA,cod_airliner_ICAO,Scheduled_dep,depart_time,dep_situation,dep_mins_of_delay,city,cod_airport_IATA,cod_airport_ICAO,arrival,arr_situation,arr_mins_of_delay,duration,resta
0,2023-10-31 23:59:00,1,1,1,IB6841,IBE6841,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:32,late,33,Buenos Aires,EZE,SAEZ,08:29 UTC-03,on time,0,12h,33
1,2023-10-31 23:59:00,3,1,1,IB6833,IBE6833,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:34,late,35,Santiago,SCL,SCEL,09:13 UTC-03,early,-6,13h,41
2,2023-10-31 23:59:00,2,1,1,IB6011,IBE6011,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:59,00:24,late,25,Montevideo,MVD,SUMU,08:48 UTC-03,early,-6,12h,31
3,2023-10-31 23:55:00,4,1,1,IB6827,IBE6827,2023-10-31,Tuesday,Landed,Iberia,IB,IBE,23:55,00:27,late,32,Sao Paulo,GRU,SBGR,06:49 UTC-03,early,-15,10h,47
4,2023-10-31 23:55:00,7,1,1,UX41,AEA041,2023-10-31,Tuesday,Landed,Air Europa,UX,AEA,23:55,00:11,late,16,Buenos Aires,EZE,SAEZ,08:14 UTC-03,early,-35,12h,51

In [21]:
fl2 = fl_dask.compute()

In [27]:
fl2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 176596 entries, 0 to 176595
Data columns (total 24 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   departure_date_time  176596 non-null  datetime64[ns]
 1   flight_id            176596 non-null  int64
 2   metar_id             176596 non-null  int64
 3   mad_id               176596 non-null  int64
 4   cod_flight_IATA      176596 non-null  object
 5   cod_flight_ICAO      173331 non-null  object
 6   day                  176596 non-null  datetime64[ns]
 7   week_day             176596 non-null  object
 8   status               176596 non-null  object
 9   airliner             176596 non-null  object
 10  cod_airliner_IATA    176596 non-null  object
 11  cod_airliner_ICAO    176596 non-null  object
 12  Scheduled_dep        176596 non-null  object
 13  depart_time          176596 non-null  object
 14  dep_situation        176596 non-null  object
 15  dep_mins_of_delay    176596 non-null  object
 16  city                 176596 non-null  object
 17  cod_airport_IATA     176596 non-null  object
 18  cod_airport_ICAO     176596 non-null  object
 19  arrival              176596 non-null  object
 20  arr_situation        176596 non-null  object
 21  arr_mins_of_delay    176596 non-null  object
 22  duration             176596 non-null  object
 23  resta                176596 non-null  int64
dtypes: datetime64[ns](2), int64(4), object(18)
memory usage: 32.3+ MB

In [22]:
fl2.to_csv("../flights/flights_with_ids.csv", index = False)

In [28]:
fl2.to_parquet("../flights/flights_with_ids.gz", compression='gzip', index = False)

In [30]:
fl2.to_json("../flights/flights_with_ids.json")